---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import WhatSottoRuns from "../components/WhatSottoRuns.astro";
import HowItWorks from "../components/HowItWorks.astro";
import TheStack from "../components/TheStack.astro";
import LogoRow from "../components/LogoRow.astro";
import ForWhom from "../components/ForWhom.astro";
import OperatorScenarios from "../components/OperatorScenarios.astro";
import FounderNote from "../components/FounderNote.astro";
import Waitlist from "../components/Waitlist.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <Problem />
    <WhatSottoRuns />
    <HowItWorks />
    <TheStack />
    <LogoRow />
    <ForWhom />
    <OperatorScenarios />
    <FounderNote />
    <Waitlist />
    <Contact />
  </main>
  <Footer />
</BaseLayout>
