---
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import Problem from "../components/Problem.astro";
import TheStack from "../components/TheStack.astro";
import LogoRow from "../components/LogoRow.astro";
import ForWhom from "../components/ForWhom.astro";
import Waitlist from "../components/Waitlist.astro";
import Footer from "../components/Footer.astro";
---

<BaseLayout>
  <main>
    <Hero />
    <Problem />
    <TheStack />
    <LogoRow />
    <ForWhom />
    <Waitlist />
  </main>
  <Footer />
</BaseLayout>
